#data
data/processed/
models/
reports/
logs/
artifacts/

#allow test artifacts
!tests/artifacts/
!tests/artifacts/**

#python
__pycache__/
.pytest_cache/
*.pyc
.venv/
venv/
.env
.ruff_cache/

#IDE
.DS_Store
.vscode/
.idea/
data/raw/combined.csv
